.leaderboard-page{

    display:flex;
    flex-direction:column;

    gap:24px;
}

/* USER CARD */

.user-rank-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:24px;

    border-radius:20px;

    background:
    rgba(9,19,33,.72);

    border:
    1px solid rgba(255,255,255,.05);
}

.user-rank-card p{

    color:#98a6ba;

    margin-top:6px;
}

.rank-badge{

    width:90px;
    height:90px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:24px;

    font-weight:800;

    color:#24f2a5;

    background:
    rgba(36,242,165,.08);

    border:
    1px solid rgba(36,242,165,.15);
}

/* PODIUM */

.podium-section{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:20px;
}

.podium-card{

    text-align:center;

    padding:24px;

    border-radius:20px;

    background:
    rgba(9,19,33,.72);

    border:
    1px solid rgba(255,255,255,.05);
}

.podium-avatar{

    width:70px;
    height:70px;

    border-radius:50%;

    margin:auto auto 14px;

    display:flex;
    align-items:center;
    justify-content:center;

    background:
    linear-gradient(
    135deg,
    #24f2a5,
    #00d9ff
    );

    color:#04111d;

    font-weight:700;
}

.first{

    transform:
    translateY(-15px);
}

.podium-card span{

    display:block;

    margin-top:12px;

    color:#24f2a5;

    font-weight:700;
}

/* SEARCH */

.leaderboard-search input{

    width:100%;

    height:52px;

    border:none;

    outline:none;

    border-radius:14px;

    padding:0 18px;

    color:white;

    background:
    rgba(9,19,33,.72);

    border:
    1px solid rgba(255,255,255,.05);
}

/* TABLE */

.leaderboard-table-card{

    background:
    rgba(9,19,33,.72);

    border:
    1px solid rgba(255,255,255,.05);

    border-radius:20px;

    overflow:hidden;
}

.leaderboard-table{

    width:100%;

    border-collapse:collapse;
}

.leaderboard-table th{

    text-align:left;

    padding:18px;

    background:
    rgba(255,255,255,.02);
}

.leaderboard-table td{

    padding:18px;

    border-top:
    1px solid rgba(255,255,255,.04);
}

.leaderboard-table tr:hover{

    background:
    rgba(255,255,255,.02);
}

/* RESPONSIVE */

@media(max-width:900px){

    .podium-section{

        grid-template-columns:
        1fr;
    }

    .first{

        transform:none;
    }
}