.navbar{

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:64px;

    z-index:1000;

    background:
    rgba(5,8,22,.88);

    backdrop-filter:blur(16px);

    border-bottom:
    1px solid rgba(255,255,255,.03);
}

.navbar-container{

    max-width:1380px;

    height:100%;

    margin:auto;

    padding:0 26px;

    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{

    display:flex;
    align-items:center;
    gap:10px;
}

.logo-icon{

    font-size:20px;

    color:#24f2a5;
}

.logo-text{

    font-size:20px;

    font-weight:700;
}

.logo-text{

    font-size:18px;
    font-weight:700;
}

.nav-links{

    display:flex;
    align-items:center;

    gap:24px;
}

.nav-links a{

    color:#aab3c2;

    font-size:14px;

    font-weight:500;

    transition:.25s;
}

.nav-links a:hover{

    color:#ffffff;
}

.nav-links .active{
    color:#ffffff;
    position:relative;
}

.nav-links .active::after{

    content:"";

    position:absolute;

    left:50%;
    transform:translateX(-50%);

    bottom:-23px;

    width:32px;
    height:2px;

    border-radius:999px;

    background:#24f2a5;

    box-shadow:
    0 0 10px rgba(36,242,165,.45);
}

.nav-right{

    display:flex;
    align-items:center;

    gap:14px;
}

.theme-btn{

    width:38px;
    height:38px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:
    rgba(255,255,255,.03);

    border:
    1px solid rgba(255,255,255,.05);
}

.login-btn{

    height:42px;

    padding:0 18px;

    border-radius:10px;

    border:
    1px solid rgba(255,255,255,.08);

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:14px;
}

.signup-btn{

    height:42px;

    padding:0 20px;

    border-radius:10px;

    font-size:14px;

    font-weight:600;

    background:
    linear-gradient(
    135deg,
    #24f2a5,
    #40f38c
    );

    color:#051019;
}